<!DOCTYPE HTML>
<html lang=en>
<head>
<meta charset=utf-8>
<link rel="stylesheet" type="text/css" href="global.css">
<link rel="apple-touch-icon" href="icon.png"/>
<title>Mapsbridge</title>
</head>
<body>
<header>
<h1>Mapsbridge</h1>
</header>
<div id="content">
<form name="search" action="." method="post">
Google Username: <input type="text" name="username">
Password: <input type="password" name="password">
<input type="submit" value="Submit">
</form>
<p>
MapsBridge lets you <strong>view your Google "My Places" on your iPad</strong>. Create custom Google maps marked with your locations and take them with you on your iPad. With MapsBridge, your iPad is an atlas, travel planner, real estate guide, and more.
<p>
<img src="login-thumb.png"><img src="maplist-thumb.png"><img src="mappins-thumb.png">
<p>
MapsBridge is <a href="https://raw.github.com/tdeitch/mapsbridge/master/LICENSE" title="MapsBridge's license">MIT Licensed</a>. Find the code on <a href="https://github.com/tdeitch/mapsbridge" title="MapsBridge's GitHub">GitHub</a>. Created by <a href="http://tdeitch.com" title="Trey Deitch's homepage">Trey Deitch</a>.
</div>
</body>
</html>