<!DOCTYPE HTML>
<html lang=en>
<head>
<meta charset=utf-8>
<link rel="stylesheet" type="text/css" href="global.css">
<link rel="apple-touch-icon" href="icon.png"/>
<title>Mapsbridge</title>
</head>
<body>
<header>
<h1><a href=".">Mapsbridge</a></h1>
<form name="search" action="." method="post">
Username: <input type="text" name="username">
Password: <input type="password" name="password">
<input type="submit" value="Submit">
</form>
</header>
<div id="content">
<ul>
<%= links %>
</ul>
</div>
</body>
</html>