<!DOCTYPE HTML>
<html lang=en>
<head>
<meta charset=utf-8>
<link rel="stylesheet" type="text/css" href="global.css">
<link rel="apple-touch-icon" href="icon.png"/>
<title>Mapsbridge</title>
</head>
<body>
<header>
<h1><a href=".">Mapsbridge</a></h1>
</header>
<div id="content">
<ul>
<%= links %>
</ul>
</div>
</body>
</html>