$def with (links)
<!DOCTYPE html>
<head>
<title>MapsBridge</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<link rel="apple-touch-icon" href="static/iui/iui-logo-touch-icon.png">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="apple-mobile-web-app-capable" content="yes">
<style type="text/css" media="screen">@import "static/iui/iui.css";</style>
<script type="application/x-javascript" src="static/iui/iui.js"></script>
</head>
<body>
<div class="toolbar">
<h1 id="pageTitle"></h1>
</div>
<ul id="home" title="My Maps" selected="true">
$:links
</ul>
</body>
</html>
